{% extends 'base.html' %}
{% block body_class %}about-page{% endblock %}
{% block content %}

<!-- Header-->
<header class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">𝐀𝐁𝐎𝐔𝐓  𝐔𝐒...</h1>
            <p class="lead fw-normal text-black-50 mb-0">Welcome to our INNOVATIVE WORLD</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    Bienvenue chez M&H Innovations ! Nous sommes Mohamed Chaouki Touzani et Hicham Jebari, un duo dynamique passionné par la révolution du commerce électronique pour les appareils électroniques. Notre mission commune est de créer une plateforme où la technologie rencontre la commodité, offrant une expérience d'achat inégalée pour les amateurs de high-tech et les professionnels
                    <br/><br/>
                    Chez M&H Innovations, nous croyons en la combinaison de technologies de pointe et d’un service exceptionnel pour vous proposer les produits électroniques les plus récents et les plus innovants. Des smartphones de dernière génération aux ordinateurs portables ultra-performants et aux consoles de jeu, notre sélection soigneusement conçue est adaptée pour répondre aux besoins diversifiés de nos clients. Chaque produit de notre catalogue est choisi avec soin pour garantir qualité, fiabilité et satisfaction.
                    <br/><br/>
                    <strong>Vos rêves, notre dévouement – M&H Innovations est là pour accompagner votre voyage technologique.
                        Parce que chez M&H Innovations, nous sommes dévoués à satisfaire tous vos besoins en électronique avec excellence..</strong>
                </p>
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}
